In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('soc-sign-bitcoinotc.csv', sep=',', names=["SOURCE", "TARGET", "RATING", "TIME"], index_col="RATING", usecols=["SOURCE", "TARGET", "RATING"])

In [3]:
data = data.sort_index(ascending=False)

In [4]:
data = data.ix[10:8]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [5]:
data = data.sort_index(by=["SOURCE", "TARGET"])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [6]:
data

        SOURCE  TARGET
RATING
8            1       2
10           1       4
8            1       6
9            1       7
9            1      17
8            1      39
8            1      41
8            1      60
8            1     197
8            1    1201
9            1    1615
8            2       1
8            2       3
8            2      39
8            2      62
8            2     167
8            2     223
8            2     245
8            2    1363
8            2    5929
10           4       1
8            4      13
8            4     202
8            4    1201
8            4    5014
8            6       1
8            6     856
8            6    1363
9            6    2188
10           9       1
...        ...     ...
8         5648    3986
8         5649    5798
9         5655    1953
10        5655    4197
10        5655    5720
10        5717      35
10        5719    5729
10        5730    5729
10        5731    5729
10        5732    5729
10        5759    5761
10        5761    5759
8         5762    3470
8         5762    5623
8         5763    5788
8         5788    5763
10        5791    5612
8         5798    5649
8         5806    5602
8         5806    5606
10        5862    5859
8         5890      35
10        5896    5507
10        5899    5439
10        5955    5958
8         5956    5227
10        5958    5955
10        5963    2045
10        5971    5960
8         5999    3878

[1150 rows x 2 columns]

In [13]:
data = data.reset_index(drop=True)

In [14]:
data

      SOURCE  TARGET
0          1       2
1          1       4
2          1       6
3          1       7
4          1      17
5          1      39
6          1      41
7          1      60
8          1     197
9          1    1201
10         1    1615
11         2       1
12         2       3
13         2      39
14         2      62
15         2     167
16         2     223
17         2     245
18         2    1363
19         2    5929
20         4       1
21         4      13
22         4     202
23         4    1201
24         4    5014
25         6       1
26         6     856
27         6    1363
28         6    2188
29         9       1
...      ...     ...
1120    5648    3986
1121    5649    5798
1122    5655    1953
1123    5655    4197
1124    5655    5720
1125    5717      35
1126    5719    5729
1127    5730    5729
1128    5731    5729
1129    5732    5729
1130    5759    5761
1131    5761    5759
1132    5762    3470
1133    5762    5623
1134    5763    5788
1135    5788    5763
1136    5791    5612
1137    5798    5649
1138    5806    5602
1139    5806    5606
1140    5862    5859
1141    5890      35
1142    5896    5507
1143    5899    5439
1144    5955    5958
1145    5956    5227
1146    5958    5955
1147    5963    2045
1148    5971    5960
1149    5999    3878

[1150 rows x 2 columns]